.home-section{
    padding-top :40px;
}

.home-section{
    display :flex;
}

.home-section .left{
    width :50%;
    height :80%;
    margin : 20px;  
    background-image: linear-gradient(135deg , grey , black) ;
}

.home-section fieldset:hover{
    cursor: all-scroll;
    transition: 1s ;
    transform: scale(1.03) ;
}

.home-section fieldset{
    position : relative ;
    left :5%;
    top :5%;
    height :100%;
    transition: 2s ;
}

.home-section legend{
    color :white;
    font-family : 'Courier New', Courier, monospace ;
    font-weight: bolder ;
    font-size :25px; 
}

.home-section fieldset p{
    color :white;
    font-weight :bold;
    font-family: 'Courier New', Courier, monospace ;
}

.right .photo{
    height :450px;
    width :450px;
    margin :20px;
    position: relative;
    left :50px;
    top :40px;
    background-image: url("https://barcelonacodeschool.com/static/bcs_young_coders_semana_santa_coding_camp.2e78c7b9.jpg") ;
    background-size :cover;
    box-shadow :1px 1px 5px rgb(116, 115, 115) ;
    transition: 0.7s ;
}

.right .photo:hover{
    transform: scale(1.02) ;
    transition: 0.7s ;
    cursor: all-scroll;
}